  .home-layout {
    display: flex;
    min-height: 100vh;
  }
  /* Overall Layout */
  .feedback-page {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Feedback Form */
  .feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .rating-container .label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .stars {
    display: flex;
  }
  
  .star {
    font-size: 24px;
    color: lightgray;
    cursor: pointer;
  }
  
  .star.selected {
    color: gold;
  }
  
  .form-group1 {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0;
  }

  .form-group2 {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .form-group1 label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .form-group2 label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .input-code {
    max-width: none;
    padding: 8px;
    font-size: 14px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #004085;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #003366;
  }
  