.home-layout {
    display: flex;
    min-height: 100vh;
}

.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#suggested-header {
  padding-top: 4rem;
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between the tables */
}

.table-section {
    margin-bottom: 20px; /* Optional, adds more space between tables */
}

.tour-table {
    width: 100%;
    border-collapse: collapse;
}

.tour-table th, .tour-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tour-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
.table-section p {
  font-style: italic;
  color: #888;
  margin: 10px 0;
}
.popup-content-suggested {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
}

.popup-content button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
