.popup-overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden; /* Prevent the entire page from scrolling */
}

.popup-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 90%; /* Adjust for smaller screens */
    max-width: 400px;
    max-height: 80vh; /* Ensure the modal does not exceed viewport height */
    overflow-y: auto; /* Add vertical scrolling for overflowing content */
    position: relative; /* Keeps content within its container */
}

.close-terms {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#terms-header {
    margin-bottom: 1rem;
}

.terms-link {
    background: none;
    color: blue;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
